---
layout: page
title: Categories
description: "Search posts by category"
---

{% for tag in site.categories %}
<a href="#{{ tag[0] | slugify }}" style="color:#1F94C4">{{ tag[0] }},</a>
{% endfor %}
<hr/>
{% for tag in site.categories %}
<h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
<ul>
  {% for post in tag[1] %}
    <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
  <li style="color:#1F94C4">
    {{ post.title }}
  <small style="color:#A7A6A6">{{ post.date | date_to_string }}</small>
  </li>
  </a>
  {% endfor %}
</ul>
{% endfor %}
